Flask==2.0.3
Flask-SQLAlchemy==2.5.1
Flask-Cors==3.0.10
gunicorn==20.1.0
pipenv==2022.1.8
marshmallow==3.14.1
jose==1.0.0
python-jose==3.3.0
python-dotenv
authlib
six
flask_sqlalchemy
Flask-Migrate==1.8.0
Flask-Script==2.0.5
alembic==0.8.4
